{% extends 'base/base.html' %}

{% block content %}

<div class="m-auto container-fluid align-items-center">
    <div class="p-5 text-center mt-auto">
        <p class="col-lg-8 mx-auto fs-5 mt-2 about">
          Download, save and enjoy your favourite Youtube videos anywhere, anytime with Vidvibe - the ultimate video companion!
          At Vidvibe we believe that ultimate Youtube content should be accessible everywhere, without interuptions. At Vidvibe, we are committed to providing a secure, reliable, and user-centric experience. We respect Youtube's terms and user rights while offering a complementary service for video downloads.<br><br>
          Join our community today and start downloading your favourite Youtube videos with Vidvibe.
        </p>
    </div>
</div>

{% endblock content %}
